<section class="answers">
    <div class="container">
        <div class="answers-pre-title">
            <div class="answers-pre-title-result">
                <div class="answers-pre-title-result-text">Результат прохождения теста</div>
                <img src="images/arrow2.png" alt="arrow">
            </div>
            <div class="answers-pre-title-name" id="test-name">Тест №1. “JavaScript: Начальный уровень”</div>
        </div>
        <div class="answers-title" id="title">
            Правильные ответы <span>к тесту</span>
        </div>
        <div class="answers-author" id="answers-author">Тест выполнил <span>Роман Чернов, roman@itlogia.ru</span></div>
        <div class="answers-options" id="options"></div>
        <div class="back-my-results" id="back-my-results">
            <a href="javascript:void(0)">Обратно к моему результату
                <img src="images/arrow-small.png" alt="arrow">
            </a>
        </div>
    </div>
</section>
