.choice {
    padding-top: 180px;
    padding-bottom: 227px;
}

.choice .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choice-content {
    max-width: 583px;
}

.choice-description {
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
}

.choice-options {
    margin-top: 60px;
    width: 583px;
}

.choice-option {
    border: 1px solid #c1bbbb;
    background: #fff;
    font-size: 18px;
    line-height: 22px;
    padding: 26px 70px 26px 40px;
    position: relative;
    transition: all 0.3s ease;
}

.choice-option:hover {
    border-left:  5px solid #6933dc;
    cursor: pointer;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 18px;
    color: #6933dc;
}

.choice-option-arrow {
    position: absolute;
    right: 40px;
    top: 27px;
    display: none;
}

.choice-option:hover  .choice-option-arrow {
    display: block;
}

.choice-option-result {
    position: absolute;
    z-index: 2;
    right: 18px;
    top: 16px;
    border: 1px solid #6933dc;
    padding: 5px;
    color: #6933dc;
    font-size: 12px;
    line-height: 14px;
    background: white;
    text-align: center;
}

.choice-option-result div:first-child {
    margin-bottom: 3px;
}