body {
    margin: 0;
    font-family: 'Museo Sans Cyrl', sans-serif;
    color: #333;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl500.ttf');
}

@font-face {
    font-family: 'Museo Sans Cyrl Bold';
    src: url('../fonts/MuseoSansCyrl700.ttf');
}

a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #6933dc;
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #dcdcf3;;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    margin-right: 5px;
}

.profile-user {
    font-size: 18px;
    line-height: 18px;
}

.profile-logout {
    font-size: 12px;
    line-height: 12px;
}

.common-title {
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #333;
}

.common-title span {
    color: #6933dc;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span {
    color: #6933dc;
}


.button {
    border-radius: 6px;
    padding: 14px 35px;
    background: #6933dc;
    font-size: 17px;
    color: #fff;
    line-height: 20px;
    border: 0;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
}

a.button {
    display: inline-block;
}

.button:hover {
    background: #451b9a;
}

.button-transparent {
    background: transparent;
    color: #6933dc;
    border: 1px solid #6933dc
}

.button-transparent:hover {
    background: #6933dc;
    color: white;
}

.button:disabled {
    background: #e2dfe7;
    cursor: not-allowed;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.footer {
    text-align: center;
    padding: 40px;
    font-size: 13px;
    color: #dcdcf3;
}